In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read in csv file
df_raw = pd.read_csv("election_data_00-16.csv")

#Drop columns office, FIPS, version, state
df_raw1 = df_raw.drop(['office', 'FIPS', 'version', 'state'], axis=1)

#Drop N/A values
df = df_raw1.dropna()

#DataFrames by Party
df_red = df[df["party"] == "republican"]
df_blue = df[df["party"] == "democrat"]
df_green = df[df["party"] == "green"]

#DataFrames by Year
df_00 = df[df["year"] == 2000]
df_04 = df[df["year"] == 2004]
df_08 = df[df["year"] == 2008]
df_12= df[df["year"] == 2012]
df_16 = df[df["year"] == 2016]

#DataFrames by Candidate
df_candidate_red00 = df[df["candidate"] == "George W. Bush"]
df_candidate_blu00 = df[df["candidate"] == "Al Gore"]
df_candidate_blu04 = df[df["candidate"] == "John Kerry"]
df_candidate_red08 = df[df["candidate"] == "John McCain"]
df_candidate_red12 = df[df["candidate"] == "Mitt Romney"]
df_candidate_blu12 = df[df["candidate"] == "Barack Obama"]
df_candidate_red16 = df[df["candidate"] == "Donald Trump"]
df_candidate_blu16 = df[df["candidate"] == "Hillary Clinton"]

#DataFrames by Swing States 2016
df_MI = df[df["state_po"] == "MI"]
df_WI = df[df["state_po"] == "WI"]
df_PA = df[df["state_po"] == "PA"]
df_OH = df[df["state_po"] == "OH"]
df_CO = df[df["state_po"] == "CO"]

df.head()

,year,state_po,county,candidate,party,candidatevotes,totalvotes
0,2000.0,AL,Autauga,Al Gore,democrat,4942.0,17208.0
1,2000.0,AL,Autauga,George W. Bush,republican,11993.0,17208.0
2,2000.0,AL,Autauga,Ralph Nader,green,160.0,17208.0
4,2000.0,AL,Baldwin,Al Gore,democrat,13997.0,56480.0
5,2000.0,AL,Baldwin,George W. Bush,republican,40872.0,56480.0

In [3]:
#ELECTION 2000
#Create pivot table with candidates as columns and votes as vales
pivot_00 = df_00.pivot(columns = "candidate", values = "candidatevotes")

#Merge pivot table with original 2012 dataframe
merged_00 = df_00.merge(pivot_00, right_index=True, left_index=True)

#Group by state and county and sum (this allows all votes to be on same row)
merged_grouped_00 = merged_00.groupby(["state_po", "county"]).sum()

#Select last three rows and transform to ints
election_2000 = merged_grouped_00.iloc[:,-3:].astype(int)

#Create total votes column
election_2000["Total Votes"] = election_2000.sum(1)

#Create column for winner and margin of victory
election_2000["Winner"] = np.where(election_2000["Al Gore"]>election_2000["George W. Bush"], 'Al Gore', 'George W. Bush')
election_2000["Margin"] = np.where(election_2000["Winner"]=="George W. Bush", 
                                   election_2000["George W. Bush"]-election_2000["Al Gore"],
                                   election_2000["Al Gore"]-election_2000["George W. Bush"])
#Preview results
election_2000.head()

                  Al Gore  George W. Bush  Ralph Nader  Total Votes  \
state_po county
AL       Autauga     4942           11993          160        17095
         Baldwin    13997           40872         1033        55902
         Barbour     5188            5096           46        10330
         Bibb        2710            4273           52         7035
         Blount      4977           12667          154        17798

                          Winner  Margin
state_po county
AL       Autauga  George W. Bush    7051
         Baldwin  George W. Bush   26875
         Barbour         Al Gore      92
         Bibb     George W. Bush    1563
         Blount   George W. Bush    7690

In [4]:
#Find total votes for 2000
total_votes00 = election_2000["Total Votes"].sum()

#Find total votes for George W. Bush 2000
bush_total = election_2000["George W. Bush"].sum()

#Find total votes for Al Gore 2000
gore_total = election_2000["Al Gore"].sum()

#Rep + Dem
rd_total00 = bush_total + gore_total

#Find total votes for Other 2000
other_total00 = total_votes00 - rd_total00

print("Election Votes Totals | 2000")
print("______________________________")
print("George W. Bush:")
print(bush_total)
print("----------")
print("Al Gore:") 
print(gore_total)
print("----------")
print("Other:") 
print(other_total00)
print("----------")
print("Total Votes 2000")
print(total_votes00)

Election Votes Totals | 2000
______________________________
George W. Bush:
47626861
----------
Al Gore:
49009524
----------
Other:
2854207
----------
Total Votes 2000
99490592

In [5]:
#ELECTION 2004

#Create pivot table with candidates as columns and votes as vales
pivot_04 = df_04.pivot(columns = "candidate", values = "candidatevotes")

#Merge pivot table with original 2012 dataframe
merged_04 = df_04.merge(pivot_04, right_index=True, left_index=True)

#Group by state and county and sum (this allows all votes to be on same row)
merged_grouped_04 = merged_04.groupby(["state_po", "county"]).sum()

#Select last three rows and transform to ints
election_2004 = merged_grouped_04.iloc[:,-3:].astype(int)

#Create total votes column
election_2004["Total Votes"] = election_2004.sum(1)

#Create column for winner and margin of victory
election_2004["Winner"] = np.where(election_2004['John Kerry']>election_2004["George W. Bush"], 'John Kerry', 'George W. Bush')
election_2004["Margin"] = np.where(election_2004["Winner"]=="George W. Bush", 
                                   election_2004["George W. Bush"]-election_2004["John Kerry"],
                                   election_2004["John Kerry"]-election_2004["George W. Bush"])
#Preview results
election_2004.head()

                  totalvotes  George W. Bush  John Kerry  Total Votes  \
state_po county
AL       Autauga       40162           15196        4758        60116
         Baldwin      138640           52971       15599       207210
         Barbour       21554            5899        4832        32285
         Bibb          15200            5472        2089        22761
         Blount        43008           17386        3938        64332

                          Winner  Margin
state_po county
AL       Autauga  George W. Bush   10438
         Baldwin  George W. Bush   37372
         Barbour  George W. Bush    1067
         Bibb     George W. Bush    3383
         Blount   George W. Bush   13448

In [6]:
#Find total votes for 2004
total_votes04 = election_2004["Total Votes"].sum()

#Find total votes for George W. Bush 2004
bush_total04 = election_2004["George W. Bush"].sum()

#Find total votes for Al Gore 2004
kerry_total = election_2004["John Kerry"].sum()

#Rep + Dem
rd_total04 = bush_total04 + kerry_total

#Find total votes for Other 2004
other_total04 = total_votes04 - rd_total04

print("Election Votes Totals | 2004")
print("______________________________")
print("George W. Bush:")
print(bush_total04)
print("----------")
print("John Kerry:") 
print(kerry_total)
print("----------")
print("Other:") 
print(other_total04)
print("----------")
print("Total Votes 2004:")
print(total_votes04)

Election Votes Totals | 2004
______________________________
George W. Bush:
60679922
----------
John Kerry:
58214732
----------
Other:
240736196
----------
Total Votes 2004:
359630850

In [7]:
#ELECTION 2008
#Create pivot table with candidates as columns and votes as vales
pivot_08 = df_08.pivot(columns = "candidate", values = "candidatevotes")

#Merge pivot table with original 2012 dataframe
merged_08 = df_08.merge(pivot_08, right_index=True, left_index=True)

#Group by state and county and sum (this allows all votes to be on same row)
merged_grouped_08 = merged_08.groupby(["state_po", "county"]).sum()

#Select last three rows and transform to ints
election_2008 = merged_grouped_08.iloc[:,-3:].astype(int)

#Create total votes column
election_2008["Total Votes"] = election_2008.sum(1)

#Create column for winner and margin of victory
election_2008["Winner"] = np.where(election_2008['Barack Obama']>election_2008["John McCain"], 'Barack Obama', 'John McCain')
election_2008["Margin"] = np.where(election_2008["Winner"]=="John McCain", 
                                   election_2008["John McCain"]-election_2008["Barack Obama"],
                                   election_2008["Barack Obama"]-election_2008["John McCain"])
#Preview results
election_2008.head()

                  totalvotes  Barack Obama  John McCain  Total Votes  \
state_po county
AL       Autauga       47282          6093        17403        70778
         Baldwin      162826         19386        61271       243483
         Barbour       23260          5697         5866        34823
         Bibb          17288          2299         6262        25849
         Blount        48534          3522        20389        72445

                       Winner  Margin
state_po county
AL       Autauga  John McCain   11310
         Baldwin  John McCain   41885
         Barbour  John McCain     169
         Bibb     John McCain    3963
         Blount   John McCain   16867

In [77]:
#Find total votes for 2008
total_votes08 = election_2008["Total Votes"].sum()

#Find total votes for George W. Bush 2008
mccain_total = election_2008["John McCain"].sum()

#Find total votes for Obama 2008
obama_total08 = election_2008["Barack Obama"].sum()

#Rep + Dem
rd_total08 = mccain_total + obama_total08

#Find total votes for Other 2008
#other_total08 = total_votes08 - rd_total08

print("Election Votes Totals | 2008")
print("______________________________")
print("John McCain:")
print(mccain_total)
print("----------")
print("Barack Obama:") 
print(obama_total08)
print("----------")
print("Other:") 
print(other_total08)
print("----------")
print("Total Votes 2008")
print(total_votes08)

Election Votes Totals | 2008
John McCain:
59928695
----------
Barack Obama:
69448278
----------
Other:
262374674
----------
Total Votes 2008
391751647

In [8]:
#Join 2000 and 2004 dataframes
df_00_04 = election_2000.join(election_2004, rsuffix = "_2004", lsuffix="_2000")

#Create column for percent change between total votes in 2012 and 2016
df_00_04["Total_Votes_Percent_Change"] = round((df_00_04["Total Votes_2004"] - df_00_04["Total Votes_2000"]) / df_00_04["Total Votes_2000"] * 100,2)

#Show results
df_00_04.head(400)
            

            

#export as CSV
#election_df.reset_index().to_csv("2012_2016_election.csv")

                        Al Gore  George W. Bush_2000  Ralph Nader  \
state_po county
AL       Autauga           4942                11993          160
         Baldwin          13997                40872         1033
         Barbour           5188                 5096           46
         Bibb              2710                 4273           52
         Blount            4977                12667          154
         Bullock           3395                 1433           24
         Butler            3606                 4127           36
         Calhoun          15781                22306          481
         Chambers          5616                 6037           95
         Cherokee          3497                 4154           77
         Chilton           4806                10066           92
         Choctaw           3707                 3600           33
         Clarke            4679                 5988           33
         Clay              2045                 3719           52
         Cleburne          1664                 3333           39
         Coffee            5220                 9938          155
         Colbert          10543                10518          208
         Conecuh           2783                 2699           35
         Coosa             2104                 2382           34
         Covington         4440                 8961          123
         Crenshaw          1934                 2793           40
         Cullman           9758                19157          282
         Dale              4906                10593          188
         Dallas           10967                 7360           63
         DeKalb            7056                12827          175
         Elmore            6652                16777          212
         Escambia          4523                 6975           78
         Etowah           17433                21087          435
         Fayette           3064                 4582           60
         Franklin          4793                 6119           72
...                         ...                  ...          ...
GA       Butts             2281                 3198            8
         Camden            3636                 6371           10
         Carroll           8752                16326          157
         Catoosa           5470                12033           66
         Charlton          1015                 1770            5
         Chatham          37590                37847          596
         Chattahoochee      600                  590            4
         Chattooga         2729                 3640            5
         Cherokee         12295                38033          306
         Clarke           15167                11850         1247
         Clayton          40042                19966          176
         Cobb             86676               140494         2134
         Coffee            3593                 5756            8
         Colquitt          3297                 6589            5
         Columbia          8969                26660          122
         Cook              1639                 2279            3
         Coweta            9056                21327          133
         Crawford          1513                 1987            5
         Crisp             2268                 3285            1
         Dade              1628                 3333           13
         Dawson            1458                 4210           28
         DeKalb          154509                58807         1930
         Decatur           3398                 4187           13
         Dodge             2326                 3472            1
         Dougherty        16650                12248           68
         Douglas          11162                18893          162
         Early             1622                 1938            4
         Effingham         3232                 7326           13
         Elbert            2527                 3262           14
         Emanuel           2835                 3343            1

                        Total Votes_2000     Winner_2000  Margin_2000  \
state_po county
AL       Autauga                   17095  George W. Bush         7051
         Baldwin                   55902  George W. Bush        26875
         Barbour                   10330         Al Gore           92
         Bibb                       7035  George W. Bush         1563
         Blount                    17798  George W. Bush         7690
         Bullock                    4852         Al Gore         1962
         Butler                     7769  George W. Bush          521
         Calhoun                   38568  George W. Bush         6525
         Chambers                  11748  George W. Bush          421
         Cherokee                   7728  George W. Bush          657
         Chilton                   14964  George W. Bush         5260
         Choctaw                    7340         Al Gore          107
         Clarke                    10700  George W. Bush         1309
         Clay                       5816  George W. Bush         1674
         Cleburne                   5036  George W. Bush         1669
         Coffee                    15313  George W. Bush         4718
         Colbert                   21269         Al Gore           25
         Conecuh                    5517         Al Gore           84
         Coosa                      4520  George W. Bush          278
         Covington                 13524  George W. Bush         4521
         Crenshaw                   4767  George W. Bush          859
         Cullman                   29197  George W. Bush         9399
         Dale                      15687  George W. Bush         5687
         Dallas                    18390         Al Gore         3607
         DeKalb                    20058  George W. Bush         5771
         Elmore                    23641  George W. Bush        10125
         Escambia                  11576  George W. Bush         2452
         Etowah                    38955  George W. Bush         3654
         Fayette                    7706  George W. Bush         1518
         Franklin                  10984  George W. Bush         1326
...                                  ...             ...          ...
GA       Butts                      5487  George W. Bush          917
         Camden                    10017  George W. Bush         2735
         Carroll                   25235  George W. Bush         7574
         Catoosa                   17569  George W. Bush         6563
         Charlton                   2790  George W. Bush          755
         Chatham                   76033  George W. Bush          257
         Chattahoochee              1194         Al Gore           10
         Chattooga                  6374  George W. Bush          911
         Cherokee                  50634  George W. Bush        25738
         Clarke                    28264         Al Gore         3317
         Clayton                   60184         Al Gore        20076
         Cobb                     229304  George W. Bush        53818
         Coffee                     9357  George W. Bush         2163
         Colquitt                   9891  George W. Bush         3292
         Columbia                  35751  George W. Bush        17691
         Cook                       3921  George W. Bush          640
         Coweta                    30516  George W. Bush        12271
         Crawford                   3505  George W. Bush          474
         Crisp                      5554  George W. Bush         1017
         Dade                       4974  George W. Bush         1705
         Dawson                     5696  George W. Bush         2752
         DeKalb                   215246         Al Gore        95702
         Decatur                    7598  George W. Bush          789
         Dodge                      5799  George W. Bush         1146
         Dougherty                 28966         Al Gore         4402
         Douglas                   30217  George W. Bush         7731
         Early                      3564  George W. Bush          316
         Effingham                 10571  George W. Bush         4094
         Elbert                     5803  George W. Bush          735
         Emanuel                    6179  George W. Bush          508

                        totalvotes  George W. Bush_2004  John Kerry  \
state_po county
AL       Autauga             40162                15196        4758
         Baldwin            138640                52971       15599
         Barbour             21554                 5899        4832
         Bibb                15200                 5472        2089
         Blount              43008                17386        3938
         Bullock              9434                 1494        3210
         Butler              16832                 4979        3413
         Calhoun             90498                29814       15083
         Chambers            26064                 7622        5347
         Cherokee            18098                 5923        3040
         Chilton             33386                12829        3778
         Choctaw             14454                 3897        3303
         Clarke              22788                 6730        4627
         Clay                13152                 4624        1893
         Cleburne            11596                 4370        1391
         Coffee              35232                13019        4480
         Colbert             47870                13188       10598
         Conecuh             12042                 3271        2719
         Coosa               10002                 2905        2055
         Covington           29254                11119        3423
         Crenshaw            11000                 3777        1698
         Cullman             70382                26818        8045
         Dale                36462                13621        4484
         Dallas              37146                 7335       11175
         DeKalb              48270                16904        7092
         Elmore              57360                22056        6471
         Escambia            24790                 8513        3814
         Etowah              85360                26999       15328
         Fayette             16004                 5534        2408
         Franklin            24538                 7690        4514
...                            ...                  ...         ...
GA       Butts               15468                 5119        2572
         Camden              28350                 9488        4637
         Carroll             70556                24837       10224
         Catoosa             44608                16406        5807
         Charlton             6774                 2311        1064
         Chatham            183030                45484       45630
         Chattahoochee        3376                  905         773
         Chattooga           15694                 4992        2809
         Cherokee           147174                58238       14824
         Clarke              74470                15052       21718
         Clayton            159092                23106       56113
         Cobb               558946               173467      103955
         Coffee              24654                 8306        3979
         Colquitt            23460                 8296        3378
         Columbia            94288                35549       11442
         Cook                 9632                 3065        1733
         Coweta              85090                31682       10647
         Crawford             8804                 2830        1552
         Crisp               12500                 3865        2357
         Dade                12460                 4368        1823
         Dawson              16226                 6649        1407
         DeKalb             552278                73570      200787
         Decatur             17902                 5348        3577
         Dodge               13990                 4584        2384
         Dougherty           67294                13711       19805
         Douglas             84130                25846       15997
         Early                8426                 2495        1701
         Effingham           32334                12503        3613
         Elbert              15312                 4626        2984
         Emanuel             14936                 4666        2774

                        Total Votes_2004     Winner_2004  Margin_2004  \
state_po county
AL       Autauga                   60116  George W. Bush        10438
         Baldwin                  207210  George W. Bush        37372
         Barbour                   32285  George W. Bush         1067
         Bibb                      22761  George W. Bush         3383
         Blount                    64332  George W. Bush        13448
         Bullock                   14138      John Kerry         1716
         Butler                    25224  George W. Bush         1566
         Calhoun                  135395  George W. Bush        14731
         Chambers                  39033  George W. Bush         2275
         Cherokee                  27061  George W. Bush         2883
         Chilton                   49993  George W. Bush         9051
         Choctaw                   21654  George W. Bush          594
         Clarke                    34145  George W. Bush         2103
         Clay                      19669  George W. Bush         2731
         Cleburne                  17357  George W. Bush         2979
         Coffee                    52731  George W. Bush         8539
         Colbert                   71656  George W. Bush         2590
         Conecuh                   18032  George W. Bush          552
         Coosa                     14962  George W. Bush          850
         Covington                 43796  George W. Bush         7696
         Crenshaw                  16475  George W. Bush         2079
         Cullman                  105245  George W. Bush        18773
         Dale                      54567  George W. Bush         9137
         Dallas                    55656      John Kerry         3840
         DeKalb                    72266  George W. Bush         9812
         Elmore                    85887  George W. Bush        15585
         Escambia                  37117  George W. Bush         4699
         Etowah                   127687  George W. Bush        11671
         Fayette                   23946  George W. Bush         3126
         Franklin                  36742  George W. Bush         3176
...                                  ...             ...          ...
GA       Butts                     23159  George W. Bush         2547
         Camden                    42475  George W. Bush         4851
         Carroll                  105617  George W. Bush        14613
         Catoosa                   66821  George W. Bush        10599
         Charlton                  10149  George W. Bush         1247
         Chatham                  274144      John Kerry          146
         Chattahoochee              5054  George W. Bush          132
         Chattooga                 23495  George W. Bush         2183
         Cherokee                 220236  George W. Bush        43414
         Clarke                   111240      John Kerry         6666
         Clayton                  238311      John Kerry        33007
         Cobb                     836368  George W. Bush        69512
         Coffee                    36939  George W. Bush         4327
         Colquitt                  35134  George W. Bush         4918
         Columbia                 141279  George W. Bush        24107
         Cook                      14430  George W. Bush         1332
         Coweta                   127419  George W. Bush        21035
         Crawford                  13186  George W. Bush         1278
         Crisp                     18722  George W. Bush         1508
         Dade                      18651  George W. Bush         2545
         Dawson                    24282  George W. Bush         5242
         DeKalb                   826635      John Kerry       127217
         Decatur                   26827  George W. Bush         1771
         Dodge                     20958  George W. Bush         2200
         Dougherty                100810      John Kerry         6094
         Douglas                  125973  George W. Bush         9849
         Early                     12622  George W. Bush          794
         Effingham                 48450  George W. Bush         8890
         Elbert                    22922  George W. Bush         1642
         Emanuel                   22376  George W. Bush         1892

                        Total_Votes_Percent_Change
state_po county
AL       Autauga                            251.66
         Baldwin                            270.67
         Barbour                            212.54
         Bibb                               223.54
         Blount                             261.46
         Bullock                            191.38
         Butler                             224.67
         Calhoun                            251.06
         Chambers                           232.25
         Cherokee                           250.17
         Chilton                            234.09
         Choctaw                            195.01
         Clarke                             219.11
         Clay                               238.19
         Cleburne                           244.66
         Coffee                             244.35
         Colbert                            236.90
         Conecuh                            226.84
         Coosa                              231.02
         Covington                          223.84
         Crenshaw                           245.61
         Cullman                            260.47
         Dale                               247.85
         Dallas                             202.64
         DeKalb                             260.29
         Elmore                             263.30
         Escambia                           220.64
         Etowah                             227.78
         Fayette                            210.74
         Franklin                           234.50
...                                            ...
GA       Butts                              322.07
         Camden                             324.03
         Carroll                            318.53
         Catoosa                            280.33
         Charlton                           263.76
         Chatham                            260.56
         Chattahoochee                      323.28
         Chattooga                          268.61
         Cherokee                           334.96
         Clarke                             293.57
         Clayton                            295.97
         Cobb                               264.74
         Coffee                             294.77
         Colquitt                           255.21
         Columbia                           295.17
         Cook                               268.02
         Coweta                             317.55
         Crawford                           276.21
         Crisp                              237.09
         Dade                               274.97
         Dawson                             326.30
         DeKalb                             284.04
         Decatur                            253.08
         Dodge                              261.41
         Dougherty                          248.03